:root {
	--background: #e0e0d0;
	--background-50: #e0e0d080;
	--button: #e0e0d0;
	--primary: #2b2b2b;
	--primary-50: #23232380;
	--accent: #1b1b1b;
	--white: #f4f4f4;
	--column-width: 42rem;
	--margin: 20px;
	color: var(--color-text);
}

@font-face {
	font-family: untitled;
	src: url(/fonts/test-untitled-sans-regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: financier;
	src: url(/fonts/test-financier-display-semibold.woff2) format('woff2');
	font-weight: 700;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	font-family: sans-serif;
	font-weight: 400;
	user-select: none;
}

html {
	background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: var(--primary);
	font-weight: 500;
	margin: 0;
}

h1 {
	font-family: 'financier', sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* Animation */
@keyframes goBlack {
	0%, 20% {
		opacity: 1;
		background: var(--background-50);
		color: var(--primary);
	}
	25% {
		background: var(--primary);
		color: var(--background);
	}
	30%, 40% {
		background: var(--background-50);
		color: var(--primary);
	}
	45% {
		background: var(--primary);
		color: var(--background);
	}
	50%, 100% {
		background: var(--background-50);
		color: var(--primary);
	}
}

@media (max-width: 756px) {
	:root {
		--button: #e0e0d080;
	}

	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}