@tailwind base;

:root {
	--background: #e0e0d0;
	--background-50: #e0e0d080;
	--primary: #2b2b2b;
	--primary-50: #23232380;
	--accent: #1b1b1b;
	--white: #f4f4f4;
	--column-width: 42rem;
	--margin: 20px;
	color: var(--color-text);
}

@font-face {
	font-family: untitled;
	src: url(/fonts/test-untitled-sans-regular.woff2) format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: financier;
	src: url(/fonts/test-financier-display-semibold.woff2) format('woff2');
	font-weight: 700;
}

body {
	margin: 0;
	/* background: var(--background-50); */
	background-attachment: fixed;
	background-size: 100vw 100vh;
	font-family: sans-serif;
	font-weight: 400;

	user-select: none;
}

html {
	background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	color: var(--primary);
	font-weight: 500;
}

h1 {
	font-family: 'financier', sans-serif;
	font-weight: 500;
	text-align: center;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* GO BLACK */

@keyframes goBlack {
	0% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
	20% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
	25% {
		opacity: 1;
		background: var(--primary);
		color: var(--background);
	}
	30% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
	40% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
	45% {
		opacity: 1;
		background: var(--primary);
		color: var(--background);
	}
	50% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
	100% {
		opacity: 1;
		background: var(--background);
		color: var(--primary);
	}
}

/* GO BACK */

@keyframes goBack {
	from {
		background: var(--primary);
		color: var(--background);
		border-color: var(--background);
	}
	to {
		background: var(--background);
		color: var(--primary);
		border-color: var(--primary);
	}
}

@media (max-width: 800px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
